@media (max-width: 850px) {

    section {
        margin-bottom: 60px;
    }

    /* header */

    .toggle-btn {
        display: block;
    }

    .initial-nav {
        display: none;
    }

    /* salon */

    .sec-title {
        font-size: 30px;
        margin-bottom: 30px;
    }


    .salon h3 {
        font-size: 19px;
        margin-bottom: 20px;
    }

    .salon .salon-text {
        font-size: 13px;
        text-align: left;
        padding: 0 36px;
        margin-bottom: 30px;
    }

    .salon-text p {
        margin-bottom: 18px;
    }

    /* map */

    .map {
        flex-direction: column-reverse;
        padding: 0 24px;
    }

    .map iframe,
    .map-box {
        width: 100%;
    }

    .map-box h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .map-box dl {
        display: flex;
        margin-bottom: 10px;
    }

    .map-box dl dt {
        width: 25%;
    }

    /* footer */

    footer p {
        margin-top: 0;
        margin-left: 24px;
        font-size: 12px;
    }

    footer img {
        width: 25px;
    }

    /* staff page */

    .staff-page {
        padding-top: 100px;
    }

    .staff-page img {
        width: 50%;
        margin-bottom: 5px;
    }

    .staffPage-item p {
        margin-top: 1px;
    }

    .staffPage-items {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .staff-Profile {
        margin-top: 6px;
    }

    .staffPage-web {
        margin-top: 10px;
    }



    /* blog */


    .blog-title {
        font-size: 20px;
        margin-bottom: 4px;
    }

    .blog-day {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .blog-name {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .blog-text p {
        font-size: 11px;
        margin-bottom: 7px;
    }


    .blog-btn a {
        padding: 1px 5px;
    }

    .blog-page {
        padding-top: 100px;
        text-align: center;
    }


    .blog-contents {
        margin-bottom: 30px;
    }

    .blog-contents:last-child {
        margin-bottom: 50px;
    }

    /* hair style */

    .hair-page {
        padding-top: 100px;
    }

    .hair-label {
        width: 32%;
        margin-bottom: 30px;
    }

    .tab-box {
        margin-bottom: 20px;
    }

}

@media(max-width:550px) {
    .page-title {
        font-size: 30px;
    }

    .staff-item dl {
        margin-top: 12px;
    }

    .top-staff-item dl dt {
        width: 100%;
    }

    .top-staff-item dl dd {
        width: 100%;
        text-align: center;
    }

    .staff-item dl dt {
        width: 100%;
    }

    .staff-item dl dd {
        width: 100%;
        text-align: center;
    }

    .web-box a {
        font-size: 13px;
    }

    .top-staff-item .stylist {
        font-size: 14px;
    }

    .footer-box {
        justify-content: center;
        flex-wrap: wrap;
    }

    .blog-btn {
        bottom: 2px;
        right: 2px;
    }

    .blog-btn a {
        font-size: 10px;
    }

}

@media(max-width:416px) {
    .hair-label {
        width: 48%;
    }

    .sliding-nav {
        padding-top: 40px;
    }

    .open .sliding-nav ul li a {
        font-size: 15px;
    }

    footer p {
        margin-top: 20px;
    }

    header img {
        width: 100px;
    }

    .toggle-btn {
        width: 30px;
        height: 30px;
        top: 25px;
    }
    
    .blog-btn {
        bottom: 0;
        padding: 0 0;
    }
    
    .blog-btn a {
        font-size: 8px;
    }

    .menu-label {
        font-size: 20px;
    }

    .menu-btn {
        position: absolute;
        top: 36px;
        transform: translateY(-50%);
        right: 4%;
        width: 40px;
        height: 40px;
        background-color: black;
        border-radius: 50%;
    }

    .menu-btn::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-top: 9px solid white;
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
    }

    .menu-label::before {
        top: 56px;
    }

}